body{
    margin: 0;
    padding: 0;
}

h1{
    font-weight: bold;
}

.Showcase{
    background-color:tomato;
}

/* Item1 */
#item1{
    background-color:plum;
}

.item1-color{
    color:darkmagenta;
}

.back-item1{
    background-color:darkmagenta;
}

/* Item2 */
#item2{
    background-color:khaki;
}

.item2-color{
    color:goldenrod;
}

.back-item2{
    background-color:goldenrod;
}

/* Item3 */
#item3{
    background-color:pink;
}

.item3-color{
    color:deeppink;
}

.back-item3{
    background-color:deeppink;
}

/*  */

.getUpdated{
    background-color:tomato;
}

h2, h3{
    font-weight: bold;
}

@media (min-width: 768px){
    .news-input{
        width: 50%;
    }
}
